In [1]:
import pandas as pd
from pycaret.regression import *

In [2]:
#1. Cargamos la data:
df = pd.read_csv('ds_credito_vehicular.csv')

In [3]:
df.head()

,edad,ingresos_mensuales,estado_civil,historia_credito,nro_creditos_previos,cuota_vs_ingreso,vehiculo_propio,default
0,59,7668,Divorciado,Buena,2,0.64,0,1
1,49,6279,Casado,Buena,2,0.31,1,1
2,35,2722,Soltero,Mala,4,0.41,1,0
3,63,4314,Divorciado,Regular,4,0.57,0,0
4,28,4157,Soltero,Buena,1,0.34,0,0

In [4]:
valores_unicos = df['historia_credito'].unique()

print(valores_unicos)

['Buena' 'Mala' 'Regular']

In [5]:
df['historia_credito'] = df['historia_credito'].replace({
    'Buena': 3,
    'Mala': 1,
    'Regular': 2
})

In [6]:
df.head()

,edad,ingresos_mensuales,estado_civil,historia_credito,nro_creditos_previos,cuota_vs_ingreso,vehiculo_propio,default
0,59,7668,Divorciado,3,2,0.64,0,1
1,49,6279,Casado,3,2,0.31,1,1
2,35,2722,Soltero,1,4,0.41,1,0
3,63,4314,Divorciado,2,4,0.57,0,0
4,28,4157,Soltero,3,1,0.34,0,0

In [19]:
#Inicializar el experimiento
reg  = setup(data=df,target='default',session_id=123,normalize=True,categorical_features=['estado_civil'])

In [21]:
#3. Comparar modelos automaticamente:
best_model = compare_models()

In [14]:
huber = create_model('huber')

In [16]:
#5.Ajustar el modelo
tuned_huber = tune_model(huber)

Fitting 10 folds for each of 10 candidates, totalling 100 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

In [17]:
#6. Evaluar visualmente
evaluate_model(tuned_huber)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

In [18]:
#predicción:
preds= predict_model(tuned_huber)
print(preds.head())

     edad  ingresos_mensuales estado_civil  historia_credito  \
72     35                6757      Soltero                 3
112    43                3911      Soltero                 3
132    29                6883       Casado                 3
88     27                5389       Casado                 3
37     27                5744       Casado                 2

     nro_creditos_previos  cuota_vs_ingreso  vehiculo_propio  default  \
72                      4              0.11                0        0
112                     2              0.59                0        0
132                     0              0.42                0        0
88                      4              0.27                1        0
37                      0              0.38                1        1

     prediction_label
72      -1.377545e-09
112      1.710554e-09
132      5.893928e-09
88       5.763563e-09
37       8.807841e-09

In [ ]:
#1. En promedio, el modelo se equivoca en un 5.76% del precio real
#2. El modelo explica el 97.43% de la varianza del precio
#3. Error logaritmico (0.0807) es bajo; buen performance en escalas grandes.

#Conclusión: El modelo tiene muy buen ajuste global. Es explicativo (R2 alto) y preciso (MAPE pequeño)