In [ ]:
#Caso: Scoring para Credito Vehicular:

#Una empresa de financiamiento automotriz quiere mejorar su proceso de evaluaci√≥n de riesgos.
#Te han dado datos historicos de clientes y se desea construir un modelo de ML que predica 
#la probabilidad de que un cliente entre en default , a partir de sus caractirsticas personales
#y crediticias.

#Tiempo: 10 minutos.

In [1]:
import pandas as pd
from pycaret.classification import *

In [2]:
# 1. Cargar datos
df = pd.read_csv('ds_credito_vehicular.csv')

In [3]:
# 2. Setup del experimento
clf = setup(data=df, 
            target='default', 
            session_id=42,
            normalize=True,
            categorical_features=['estado_civil', 'historia_credito'])

In [4]:
# 3. Comparar modelos autom√°ticamente
best_model = compare_models()

In [5]:
# 4. Crear modelo espec√≠fico (ej. random forest)
rf = create_model('rf')

In [6]:
# 5. Ajustar el modelo
tuned_rf = tune_model(rf)

Fitting 10 folds for each of 10 candidates, totalling 100 fits

In [7]:
# 6. Evaluar resultados
evaluate_model(tuned_rf)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin‚Ä¶

In [8]:
# 7. Hacer predicciones
preds = predict_model(tuned_rf)
print(preds.head())

     edad  ingresos_mensuales estado_civil historia_credito  \
123    57                2802   Divorciado          Regular
4      28                4157      Soltero            Buena
74     34                6172      Soltero            Buena
3      63                4314   Divorciado          Regular
124    34                7616      Soltero            Buena

     nro_creditos_previos  cuota_vs_ingreso  vehiculo_propio  default  \
123                     1              0.36                1        0
4                       1              0.34                0        0
74                      2              0.23                1        0
3                       4              0.57                0        0
124                     3              0.40                0        0

     prediction_label  prediction_score
123                 0            0.8840
4                   0            0.8741
74                  0            0.7951
3                   0            0.7690
124                 0            0.8850

In [9]:
# 8. Guardar modelo para usarlo en producci√≥n
save_model(tuned_rf, 'modelo_default_final')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=Memory(location=None),
          steps=[('numerical_imputer',
                  TransformerWrapper(exclude=None,
                                     include=['edad', 'ingresos_mensuales',
                                              'nro_creditos_previos',
                                              'cuota_vs_ingreso',
                                              'vehiculo_propio'],
                                     transformer=SimpleImputer(add_indicator=False,
                                                               copy=True,
                                                               fill_value=None,
                                                               keep_empty_features=False,
                                                               missing_values=nan,
                                                               strategy='mean'))),
                 ('categorical_impu...
                  RandomForestClassifier(bootstrap=True, ccp_alpha=0.0,
                                         class_weight={}, criterion='entropy',
                                         max_depth=9, max_features='sqrt',
                                         max_leaf_nodes=None, max_samples=None,
                                         min_impurity_decrease=0,
                                         min_samples_leaf=6,
                                         min_samples_split=10,
                                         min_weight_fraction_leaf=0.0,
                                         monotonic_cst=None, n_estimators=230,
                                         n_jobs=-1, oob_score=False,
                                         random_state=42, verbose=0,
                                         warm_start=False))],
          verbose=False),
 'modelo_default_final.pkl')